<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfLOFA9U8GMkMgt87l15d0lLSFw9OgEFw</string>
	<key>GCM_SENDER_ID</key>
	<string>971534713246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NewAppTest</string>
	<key>PROJECT_ID</key>
	<string>quotex-c1092</string>
	<key>STORAGE_BUCKET</key>
	<string>quotex-c1092.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971534713246:ios:c898576c137f90f139568f</string>
	<key>DATABASE_URL</key>
	<string>https://quotex-c1092-default-rtdb.firebaseio.com</string>
</dict>
</plist>